{{ .Cli.Path }}
{{ if gt .Cli.Version "0.14" }}
{{ template "chdir" .Cli }}
{{ end }}
workspace new
{{ template "lock" .Params }}
{{ template "lockTimeout" .Params }}
{{ template "name" .Params }}
{{ .WorkspaceName }}
