{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
destory
{{ template "backup" }}
{{ template "autoApprove" }}
{{ template "lock" }}
{{ template "lockTimeout" }}
{{ template "input" }}
{{ template "noColor" }}
{{ template "parallelism" }}
{{ template "refresh" }}
{{ template "state" }}
{{ template "stateOut" }}
{{ template "target" }}
{{ template "vars" }}
{{ template "varFiles" }}
{{ .plan }}
