{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
fmt
{{ template "list" }}
{{ template "write" }}
{{ template "diff" }}
{{ template "check" }}
{{ if ge .version "0.12" }}
{{ template "noColor" }}
{{ template "recursive" }}
{{ end }}
{{ .dir }}
