{{ .Cli.Path }}
{{ if gt .Cli.Version "0.14" }}
{{ template "chdir" .Cli }}
{{ end }}
fmt
{{ template "list" .Params }}
{{ template "write" .Params }}
{{ template "diff" .Params }}
{{ template "check" .Params }}
{{ if ge .version "0.12" .Params }}
{{ template "noColor" .Params }}
{{ template "recursive" .Params }}
{{ end }}
{{ .Cli.WorkingDir }}
