{{ if gt .Cli.VersionNumber "0.14" }}
{{ template "chdir" }}
{{ end }}
graph
{{ template "drawCycles" }}
{{ template "write" }}
{{ template "diff" }}
{{ template "check" }}
{{ if ge .version "0.12" }}
{{ template "moduleDepth" }}
{{ else }}
{{ template "noColor" }}
{{ end }}
{{ template "type" }}
{{ if lt .Cli.Version "0.14" }}
{{ .dir }}
{{ end }}
