{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
import
{{ template "backup" }}
{{ template "config" }}
{{ template "allowMissingConfig" }}
{{ template "input" }}
{{ template "lock" }}
{{ template "lockTimeout" }}
{{ template "noColor" }}
{{ template "state" }}
{{ template "stateOut" }}
{{ template "vars" }}
{{ template "varFiles" }}
{{ .address }}
"{{ .id }}"
