{{ .Cli.Path }}
{{ if gt .Cli.Version "0.14" }}
{{- template "chdir" .Cli }}
{{ end }}
init
{{- template "backend" .Params }}
{{- template "backendConfig" .Params }}
{{- template "forceCopy" .Params }}
{{- template "fromModule" .Params }}
{{- template "get" .Params }}
{{- template "input" .Params }}
{{- template "noColor" .Params }}
{{- template "pluginDir" .Params }}
{{- template "reconfigure" .Params }}
{{- template "upgrade" .Params }}
{{- template "lockfile" .Params }}
