{{ if ge .Cli.VersionNumber "0.14" }}
{{ template "chdir" .Cli }}
{{ end }}
output
{{ template "state" .Params }}
{{ template "noColor" .Params }}
{{ if lt .Cli.VersionNumber "0.12" }}
{{ template "module" .Params }}
{{ end }}
{{ template "json" .Params }}
