{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
output
{{ template "state" }}
{{ template "noColor" }}
{{ if lt .version "0.12" }}
{{ template "module" }}
{{ end }}
{{ template "json" }}
