{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
plan
{{ template "destroy" }}
{{ template "detailedExitcode" }}
{{ template "input" }}
{{ template "lock" }}
{{ template "lockTimeout" }}
{{ if lt .version "0.12" }}
{{ template "moduleDepth" }}
{{ end }}
{{ template "noColor" }}
{{ template "out" }}
{{ template "parallelism" }}
{{ template "refresh" }}
{{ template "state" }}
{{ template "target" }}
{{ template "vars" }}
{{ template "varsFiles" }}
{{ .plan }}
