{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
refresh
{{ template "backup" }}
{{ template "input" }}
{{ template "lock" }}
{{ template "lockTimeout" }}
{{ template "noColor" }}
{{ template "state" }}
{{ template "stateOut" }}
{{ template "target" }}
{{ template "vars" }}
{{ template "varsFiles" }}
{{ .dir }}
