{{ if gt .Cli.Version "0.14" }}
{{ template "chdir" .Cli }}
{{ end }}
untaint
{{ template "allowMissing" .Params }}
{{ template "backup" .Params }}
{{ template "lock" .Params }}
{{ template "lockTimeout" .Params }}
{{ template "state" .Params }}
{{ template "stateOut" .Params }}
{{ .Resource }}
