{{ .command }}
{{ if gt .version "0.14" }}
{{ template "chdir" }}
{{ end }}
validate
{{ if lt .version "0.12" }}
{{ template "checkVariables" }}
{{ template "vars" }}
{{ template "varsFiles" }}
{{ template "moduleDepth" }}
{{ else }}
{{ tempalte "json" }}
{{ end }}
{{ template "noColor" }}
