{{ if ge .Cli.VersionNumber "0.14" }}
{{ template "chdir" .Cli }}
{{ end }}
validate
{{ if lt .Cli.VersionNumber "0.12" }}
{{ template "checkVariables" .Params }}
{{ template "vars" .Params }}
{{ template "varsFiles" .Params }}
{{ template "moduleDepth" .Params }}
{{ else }}
{{ template "json" .Params }}
{{ end }}
{{ template "noColor" .Params }}
